<nav class="navbar navbar-expand-lg" *ngIf="auth.isLogIn()" [ngClass]="{'navbar-light bg-light': !dark_mode, 'navbar-dark bg-dark': dark_mode}">
    <div class="container-fluid">
        <a class="navbar-brand" routerLinkActive="active" routerLink="home">Interestelar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="trips">Viajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="users">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="ships">Naves</a>
                </li>
            </ul>
            <div class="navbar-text">
                <button class="switch" [ngClass]="{'active': dark_mode}" id="switch" (click)="setMode()" type="button">
                    <span><i class="fas fa-sun"></i></span>
                    <span><i class="fas fa-moon"></i></span>
                </button>
            </div>
            <div class="navbar-text">
                <button class="btn btn-outline-danger ml-2" (click)="logout()">Salir</button>
            </div>
        </div>
    </div>
</nav>