<h1>Editar Nave</h1>
<hr>
<form (ngSubmit)="update(fShip)" #fShip="ngForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="serie">Serie</label>
                <input type="text" name="serie" required placeholder="Serie" [(ngModel)]="ship.serie" class="form-control" id="serie">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="model">Modelo</label>
                <input type="text" name="model" required placeholder="Correo" [(ngModel)]="ship.model" class="form-control" id="model">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="capacity">Capacidad</label>
                <input type="number" name="capacity" required placeholder="Capacidad" [(ngModel)]="ship.capacity" class="form-control" id="capacity">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea name="description" id="description" [(ngModel)]="ship.description" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="form-group">
                <a class="btn btn-warning" style="margin-right: 9px;" (click)="back()">Cancelar</a>
                <button class="btn btn-success">Actualizar</button>
            </div>

        </div>
    </div>
</form>