<h1>Listado de Naves</h1>
<hr>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="createShip()">
            <i class="fa fa-plus"></i> Agregar
        </button>
    </div>
</div>
<br>
<div class="row">
    <app-ship class="col-md-4" *ngFor="let ship of ships" [ship]="ship" (shipSelected)="destroy($event)"></app-ship>
</div>