<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ship.serie}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ship.model}}</h6>
        <p class="card-text">{{ship.description}}</p>
        <a class="card-link btn btn-info" (click)="edit()">Editar</a>
        <a class="card-link btn btn-danger" (click)="destroy()">Eliminar</a>
    </div>
</div>