<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fab fa-reddit-alien fa-4x mt-3"></i>
            <h4>Interestelar</h4>
        </div>

        <!-- Login Form -->
        <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
            <span class="text-danger fadeIn" *ngIf="fLogin.submitted && fLogin.controls['email'].errors">
                El correo es obligatorio
            </span><br>
            <input type="email" id="email" class="fadeIn second" [(ngModel)]="user.email" name="email" required email placeholder="Correo"><br>
            <span class="text-danger fadeIn" *ngIf="fLogin.submitted && fLogin.controls['password'].errors">
                La contraseña debe tener por lo menos 6 caracteres
            </span>
            <input type="password" id="password" class="fadeIn third" [(ngModel)]="user.password" name="password" required minlength="6" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
        </form>
    </div>
</div>