<h1>Listado de Usuarios</h1>
<hr>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="createUser()">
            <i class="fa fa-plus"></i> Agregar
        </button>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col">...</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th>{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role_id | roles}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editUser(user.id)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger" (click)="destroy(user.id)"><i class="fa fa-times"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-warning text-center mt-3" *ngIf="!isLoad && (users.length == 0)">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>
<div class="alert alert-info text-center mt-3" *ngIf="isLoad">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
</div>