<h1>Crear usuario</h1>
<hr>
<form (ngSubmit)="create(fNewUser)" #fNewUser="ngForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" required placeholder="Nombre" [(ngModel)]="user.name" class="form-control" id="name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" name="email" required placeholder="Correo" [(ngModel)]="user.email" class="form-control" id="email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" required [(ngModel)]="user.password" placeholder="Contraseña" class="form-control" id="password">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="role">Rol</label>
                <select name="role" id="role" [(ngModel)]="user.role_id" required class="form-control">
                    <option value="1">Administrador</option>
                    <option value="2">Piloto</option>
                    <option value="3">Pasajero</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="form-group">
                <a class="btn btn-warning" style="margin-right: 9px;" (click)="back()">Cancelar</a>
                <button class="btn btn-success">Guardar</button>
            </div>

        </div>
    </div>
</form>